@use "../../variables.scss";


.content-donation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 82px;

  @media screen and (min-width: 869px) {
    padding-top: 0;
  }
}


.transfer-donation {
  align-self: center;
  display: grid;
  grid-template-columns: minmax(366px, 629px);
  box-sizing: border-box;
  padding: 0 23px 24px;
  max-width: 1440px;

  @media screen and (min-width: 869px) {
    align-self: flex-end;
    display: grid;
    grid-template-columns: minmax(366px, 629px) minmax(366px, 600px);
    column-gap: 61px;
    padding: 21px 30px 81px;
  }

  @media screen and (min-width: 1441px) {
    align-self: center;
    padding-left: 120px;
  }

  &__title {
    font-family: 'Neue Machina';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.01em;
    color: variables.$black;
    margin: 0;
    padding-top: 14px;

    @media screen and (min-width: 869px) {
      font-size: 56px;
      line-height: 56px;
      padding-top: 28px;
    }
  }

  &__paragraph {
    font-family: 'Neue Machina';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: variables.$black;
    margin: 0;
    padding: 24px 0 0 62px;

    &:first-of-type {
      padding-top: 27px;
    }

    @media screen and (min-width: 869px) {
      font-size: 28px;
      line-height: 32px;
      padding-top: 32px;
      max-width: 537px;

      &:first-of-type {
        padding-top: 57px;
      }
    }
  }

  &__note {
    position: relative;
    font-family: 'Formular Light';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    font-feature-settings: 'ss01'on;
    color: variables.$black;
    margin-top: 61px;
    margin-bottom: 0;
    padding: 0 0 58px 28px;
    max-width: 345px;

    &::before {
      position: absolute;
      top: -27px;
      left: 1px;
      content: "";
      width: 25px;
      height: 25px;
      background-image: url(../../assets/icons/asterisk.svg);
    }

    @media screen and (min-width: 869px) {
      margin-top: 122px;
      margin-left: 32px;
    }
  }

  &__form {
    height: 524px;
    background: #FFFFFF;

    @media screen and (min-width: 869px) {
      height: 630px;
    }
  }
}


.about-donations {
  width: 100%;
  padding-top: 34px;
  padding-bottom: 73px;
  max-width: 1440px;

  @media screen and (min-width: 869px) {
    padding-top: 34px;
    padding-bottom: 146px;
  }


  &__title-wrapper {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 1280px) {
      flex-direction: row;
      align-items: flex-end
    }


    &_in-reverse {
      @media screen and (min-width: 1280px) {
        justify-content: space-between;
      }
    }
  }

  &__picture {
    display: block;
    object-fit: cover;
    height: 200px;
    min-width: 390px;

    @media screen and (min-width: 768px) {
      width: 54.17%;
      max-width: 781px;
      height: auto;
      min-height: 200px;
      max-height: 300px;
    }

    @media screen and (min-width: 1280px) {
      padding: 0;
    }

    &_position_right {
      padding-left: 24px;
      align-self: flex-end;
      order: 0;

      @media screen and (min-width: 1280px) {
        order: 1;
      }
    }

    &_position_left {
      padding-right: 24px;
      align-self: flex-start;
    }
  }

  &__title {
    max-width: 485px;
    font-family: 'Neue Machina';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -0.01em;
    color: variables.$black;
    margin: 0;
    padding: 42px 31px 0 24px;

    @media screen and (min-width: 768px) {
      font-size: 40px;
      line-height: 40px;
    }

    &_position_left {
      align-self: flex-start;

      @media screen and (min-width: 1280px) {
        padding: 0 59px 5px 32px;
        align-self: flex-end;
      }
    }

    &_position_right {
      align-self: flex-end;

      @media screen and (min-width: 1280px) {
        padding: 0 32px 5px 36px;
        align-self: flex-end;
      }
    }
  }


  &__card-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(237px, 1fr));
    column-gap: 47px;
    row-gap: 24px;
    list-style-type: none;
    margin: 0;
    padding: 28px 24px 0 85px;

    @media screen and (min-width: 869px) {
      grid-template-columns: repeat(auto-fill, minmax(237px, 1fr));
      row-gap: 72px;
      padding: 71px 32px 0 32px;
    }

    @media screen and (min-width: 1153px) {
      row-gap: 119px;
    }
  }

  &__card {
    font-family: 'Formular Light';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    font-feature-settings: 'ss01'on;
    color: variables.$black;

    @media screen and (min-width: 869px) {
      font-family: 'Neue Machina';
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      font-feature-settings: normal;
      letter-spacing: -0.01em;
    }
  }
}


.accounting {
  width: 100%;
  padding-bottom: 110px;
  max-width: 1440px;

  @media screen and (min-width: 869px) {
    padding-bottom: 202px;
  }

  &__title {
    font-family: 'Neue Machina';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -0.01em;
    color: variables.$black;
    margin: 0;
    padding: 73px 24px 0 26px;

    @media screen and (min-width: 869px) {
      max-width: 873px;
      font-size: 36px;
      line-height: 38px;
      padding-top: 71px;
      padding-left: calc(268px - (1440px - 100vw)/2.45);
    }

    @media screen and (min-width: 1440px) {
      padding-left: 268px;
    }
  }

  &__mail-link {
    color: inherit;

    &:hover {
      color: variables.$main-background;
      background-color: variables.$black;
      text-decoration: none;
    }
  }
}